{% extends 'base.html.twig' %}

{% block title %}Article Center{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="/listcat">Catégories</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>AddCatégories :</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>Voulez vous lire un Article ?</h2>
    <a href='/'>Pourquoi pas</a>

{% endblock %}