{% extends 'base.html.twig' %}

{% block title %}AdminBoard{% endblock %}
{% block body %}

<head>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" crossorigin="anonymous">
</head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="listcat">Catégories</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>AdminBoard</h1>
        <a href="/add" class="btn btn-default">Ajouter un article</a><br>

        <h3>CRUD</h3>
    <div class="btn-group btn-group-justified">
        <a href="/artcrud" class="btn btn-default">Article Edit</a>
        <a href="/catcrud" class="btn btn-default">Category Edit</a>
        <a href="/usercrud" class="btn btn-default">User Edit</a>
    </div>

{% endblock %}