{% extends 'base.html.twig' %}

{% block title %}Article Center{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="listcat">Catégories</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Login</a></li>
                    {% endif %}
                    <li><a href="/register" class="btn btn-info">Sign up.</a></li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/admin">AdminBoard</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <h1>Tout les articles</h1>
        <table class="table table-striped table-hover ">
            <tbody>
           {% for article in list %}
            <tr class="active">
                <td><img src="/images/{{ article.image.imageName }}" width="40" height="40"></td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.name }}</td>
                <td><i>{{ article.Author }}</i></td>
                <td><a href="/article/{{ article.id }}" class="btn btn-primary btn-xs">Voir l'article &rarr;</a></td>
            </tr>
           {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}