{% extends 'base.html.twig' %}

{% block title %}Article Center{% endblock %}
{% block body %}

    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="listcat">Catégories</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Login</a></li>
                    {% endif %}
                    <li><a href="/register" class="btn btn-info">Sign up.</a></li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin">AdminBoard</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>



    <h2>Nouveaux Articles :</h2>
    <div class="jumbotron">
        {% for article in articles %}
            <h3>{{ article.name }}</h3>
            <blockquote>
                <small>Écrit le <cite>{{ article.date.date }}</cite> par <cite>{{ article.author }}.</cite></small>
                <img src="/images/{{ article.image.imageName }}" width="50%" height="50%"><br>
                <a href="/article/{{ article.id }}" class="btn btn-primary btn-xs">Voir l'article &rarr;</a>
            </blockquote>
        {% endfor %}
    </div>

    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock %}