{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="/listcat">Catégories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th class="text-warning">Id</th>
                <th class="text-warning">Name</th>
                <th class="text-warning">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('usercrud_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>

                <td>
                    <a href="{{ path('usercrud_show', { 'id': user.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('usercrud_edit', { 'id': user.id }) }}" class="btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('usercrud_new') }}" class="btn btn-default">Create a new user</a>
{% endblock %}
