{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="/listcat">Catégories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Article edit</h1>
    {{ form_start(edit_form) }}
        {{ form_label(edit_form.name) }}
        {{ form_widget(edit_form.name) }}
        {{ form_label(edit_form.content) }}
        {{ form_widget(edit_form.content) }}
        {{ form_label(edit_form.author) }}
        {{ form_widget(edit_form.author) }}
        {{ form_label(edit_form.date) }}
        {{ form_widget(edit_form.date) }}
        {{ form_label(edit_form.category) }}
        {{ form_widget(edit_form.category) }}
        {{ form_widget(edit_form.image) }}
        <input type="submit" value="Edit" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

    <a href="{{ path('artcrud_index') }}" class="btn btn-default">Back to the list</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}


{% endblock %}
