{% extends 'base.html.twig' %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Article's Center</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/list">Liste d'articles <span class="sr-only">(current)</span></a></li>
                    <li><a href="/listcat">Catégories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th class="text-warning">Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th class="text-warning">Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th class="text-warning">Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th class="text-warning">Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th class="text-warning">Date</th>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th class="text-warning">Category</th>
                <td>{{ article.category.name }}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('artcrud_index') }}" class="btn btn-default">Back to the list</a>

            <a href="{{ path('artcrud_edit', { 'id': article.id }) }}" class="btn btn-default">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

{% endblock %}
